@import "../styles/coolFuncs";
@import "../styles/colors";



//mobile S
@media screen and (max-width:320px) {

.Header{
  height: 15%;
  .Info{
    .HeaderBtn{
      font-size: 1.2em;
      padding: 0.5em;
    }
  }
}

.textDiv{
  margin-top: 20%;
  left: 2%;

  .intro{
    font-size: 1.3em;
  }
  .Typewriter{
    font-size: 1.3em;
  }

  .meTekst{
    width: 90%;
    font-size: 0.7em;
  }
}

.threeDImage{
 width: 50%; 
 height: 30%;
 top: 70%;
 left: 25%;
}


.more{

}
}