@import "../../StartPage/styles/colors";

@import "../../StartPage/styles/coolFuncs";
.about{
    width: 80%;
    height: 100%;
    background-color:$mainGray ;
    @include centering(space-between,center);
    flex-direction: column;


    .meInfo{
        width: 100%;
        height: 20%;
        @include centering(left,center);
        margin-left:5% ;
        font-size: 3em;
        color: $coolYellow;
    }
    
    
}